<config>
	<delimeter_setting>,</delimeter_setting>
	<input_setting>
		<included>
			<TimeStamp/>
			<DateSentTimeStamp/>
			<DateReceivedTimeStamp/>
			<SenderPhoneNumber/>
			<RecepientPhoneNumber/>
		</included>
		<excluded>
		</excluded>
	</input_setting>

	<output_setting>
		<PhoneNumber>1</PhoneNumber>
		<TotalSent>2</TotalSent>
		<TotalReceived>3</TotalReceived>
		<DayHighestSent>4</DayHighestSent>
		<NumberHighestSent>5</NumberHighestSent>
		<DayHighestDifference>6</DayHighestDifference>
	</output_setting>
</config>
