<config>
	<delimeter_setting>,</delimeter_setting>
	<input_setting>
		<TimeStamp>1</TimeStamp>
		<DateSentTimeStamp>2</DateSentTimeStamp>
		<DateReceivedTimeStamp>3</DateReceivedTimeStamp>
		<SenderPhoneNumber>4</SenderPhoneNumber>
		<RecepientPhoneNumber>5</RecepientPhoneNumber>
	</input_setting>
	<output_setting>
		<PhoneNumber>1</PhoneNumber>
		<TotalSent>2</TotalSent>
		<TotalReceived>3</TotalReceived>
		<DayHighestSent>4</DayHighestSent>
		<NumberHighestSent>5</NumberHighestSent>
		<DayHighestDifference>6</DayHighestDifference>
	</output_setting>
</config>
